{% extends 'base.html' %}

{% block content %}
<div class = "container text-center">
    <div class = "row">
        <div class = "col-8">
            <h1>Hello</h1>
            {% for newspost in news %}
                <div class="alert alert-primary" role="alert">
                    {{ newspost.body }}
                    <small class="text-muted">
                        {{ newspost.created_at }} By {{ newspost.user.username }}
                    </small>
                </div><br/>
            {% endfor %}
        </div>
        <div class="col-4">
            <br/><br/>
            {% if form %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-secondary">Post</button>
                 </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}