h4 {
    font-weight: 50;
}

p {
    font-weight: 50;
}

#logo {
    font-size: 200%;
    font-weight: 150%;
    color: black;
    text-shadow: 2px 2px grey;
}

#newstitle {
    text-decoration: none;
    color: rgb(34, 29, 127)
}